.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.container > * {
  flex-grow: 1;
  flex-basis: 0;
}

.wordToGuess {
  font-size: 2em;
  text-align: center;
}

.board {
  text-align: left;
}

.info {
  font-size: small;
}

.canvasContainer {
  width: 640px;
  height: 425px;
  margin: 0;
  position: relative; /* add */
}

.bracket, .hangman, .chair {
  width:100%;
  height:100%;
  position:absolute; /* change */
  left: 0; 
  top: 0;
}

.minorInfo {
  font-size: 0.5em;
  font-style: oblique;
  color: crimson;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
